@import '../../vars.scss';

.notes-page {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 300px;
  height: 90vh;
  border-radius: $radius;
  background-color: $main-color;

  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}