@import '../../vars.scss';

.note-container {
  padding: 0 20px;
  height: 350px;
  overflow: auto;
  .note-container__item-list{
    list-style: none;

    .note-container__item{
      display: flex;
      justify-content: space-between;
      position: relative;
      border-radius: $radius;
      padding: 0 10px;
      div{
        word-break: break-word;
        padding: 5px;
      }
      &::after{
        content: '';
        position: absolute;
        height: 1px;
        width: 95%;
        background-image: $separation-line;
      };

      .action-icon{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
         a{
          color: $black;
        }


      }

      &:hover{
        background-color: rgba($color: $item-list-color, $alpha: 0.3);
      }

      .note-container__item-title{
        padding: 10px 0;
        cursor: pointer;
        & a {
          text-decoration: none;
          color: $black
        }
      }
      .note-container__item-text{
        margin-bottom: 10px;

      }

      .note-container__item-tags{
        padding-bottom: 5px;
        & i {
          padding-right: 10px
        }

        .wrapper-tag{
          margin-right: 0.5em;
          padding: 0.2em;
          border-radius: 5px;
          background-color: $tag-color;
        }
      }
    }

  }
}