// COLORS
$black: #000;
$hover: rgb(75, 51, 31);

$item-list-color: #2ab76e;
$main-color: #17d885;
$modal-color: #119b5f;
$separation-line: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
$tag-color: #27bc6e;
$shadow: -2px 0px 31px -11px rgba(0,0,0,0.61);
$button-submit: lightseagreen;

// RADIUS

$radius: 20px;